html {
    min-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

body {
    background-image: linear-gradient(to right,rgb(0, 255, 179),rgb(115, 51, 160));
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    min-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

p {
    color: #ffff;
    font-size: 20px;
}

a {
    color: #ffff;
    text-decoration: none;
}

a:hover {
    color: #ffff;
    text-decoration: none;
}

.rounded-img {
    width: 240px;
    height: 240px;
    border: double 2px transparent;
    border-radius: 80px;
    background-image: linear-gradient(white, white), radial-gradient(circle at top left, #C9D6FF, #E2E2E2);
    background-clip: content-box, border-box;
    margin: 0 auto;
}

#flip {
    height: 50px;
    overflow: hidden;
}

#flip>div>p {
    color: #fff;
    padding: 4px 12px;
    height: 45px;
    margin-bottom: 45px;
    display: inline-block;
    font-family: 'Exo', sans-serif;
}

#flip div:first-child {
    animation: show 8s linear infinite;
    animation-delay: 6s;
    visibility: hidden;
}

@keyframes show {
    to {
        visibility: visible;
    }

    0% {
        margin-top: -360px;
    }

    12% {
        margin-top: -270px;
    }

    18% {
        margin-top: -270px;
    }

    36% {
        margin-top: -180px;
    }

    41% {
        margin-top: -180px;
    }

    55% {
        margin-top: -90px;
    }

    60% {
        margin-top: -90px;
    }

    72% {
        margin-top: 0px;
    }

    99.99% {
        margin-top: 0px;
    }

    100% {
        margin-top: -360px;
    }
}

@keyframes showIcons {
    to {
        opacity: 1;
    }

    to {
        visibility: visible;
    }
}

.icons {
    text-align: center;
    max-width: 500px;
    max-height: 300px;
    margin-top: 40px;
    padding: 10px;
    animation: showIcons 2s forwards;
    animation-delay: 4.5s;
    opacity: 0;
    visibility: visible;
}

@keyframes showIcons {
    to {
        opacity: 1;
    }

    to {
        visibility: visible;
    }
}

.rounded-icon {
    border: 1px solid yellow;
    border-radius: 30%;
    width: 50px;
    height: 50px;
    text-align: center;
    padding-top: 10px;
    margin-top: 0px;
    -webkit-transition: all .5s ease 0s;
    -moz-transition: all .5s ease 0s;
    -o-transition: all .5s ease 0s;
    transition: all .5s ease 0s;
}

.rounded-icon:hover {
    background: rgba(238, 255, 0, 0.1);
    border-color: rgba(3, 189, 18, 0.1);
}

.fa-twitter:hover {
    background-color: #d1750c;
}

.fa-file:hover {
    background-color: #ca4450;
}

.fa-linkedin:hover {
    background-color: #167891;
}

.fa-instagram:hover {
    background-color: #0e914b;
}

.fa-github:hover {
    background-color: #a879b4f5;
}

.cursor {
    animation: blink 0.5s infinite;
    opacity: 0;
}

@keyframes blink {

    99% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }

}


